@media only screen and (min-width: 279px) {
  :root {
    --h1-font-size: 1.8rem;
    --h2-font-size: 1.3rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.9rem;
    --small-font-size: 0.7rem;
  }

  .container {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .header {
    width: 100vw;
    padding: 0 1rem;
  }

  .nav {
    width: calc(100vw - 2rem);
    margin: 0;
  }

  .nav__logo {
    font-size: var(--normal-font-size);
  }

  .nav__logo img {
    width: 40px;
    height: 40px;
  }

  /* main section */
  /* home */

  .car-preview img {
    max-width: 500px;
    width: 100%;
  }

  .button {
    bottom: 10px;
  }

  .start-btn {
    width: 60px;
    height: 60px;
  }

  .start-btn::before {
    width: 80px;
    height: 80px;
  }

  /* features section */
  .features__container .features__image {
    margin-top: 2rem;
    left: -20px;
  }
}

@media only screen and (min-width: 375px) {
  .car-preview {
    padding-top: 30%;
  }

  .preview {
    display: flex;
    justify-content: center;
  }

  .preview img {
    width: calc(100vw - 6rem);
  }

  .button {
    bottom: 0;
  }
}

@media only screen and (min-width: 540px) {
  .car-preview {
    padding-top: 20%;
    height: calc(100vh + 100px);
  }

  .button {
    bottom: 120px;
  }

  .start-btn {
    width: 80px;
    height: 80px;
    font-size: var(--normal-font-size);
  }

  .start-btn::before {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.3rem;
    --h3-font-size: 1rem;
    --noraml-font-size: 0.95rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.78rem;
  }

  .container {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  .car-preview .preview img {
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .big-dot {
    height: 70vh;
    top: -50px;
    left: -150px;
  }

  .small-dot {
    height: 50vh;
    bottom: 0px;
    right: -100px;
  }

  .engine i,
  .speed i,
  .price i {
    background-color: transparent;
    font-size: var(--h1-font-size);
  }

  .performance {
    column-gap: 5rem;
  }

  .button {
    bottom: 0;
  }

  /* about section */
  .image__description {
    width: 400px;
    height: 100px;
    font-size: var(--h3-font-size);
    line-height: 30px;
  }

  /* features section */
  .features__container {
    margin-top: 20rem;
  }

  .features__image {
    width: 2000px;
  }

  .features__card-map {
    top: -5rem;
  }

  .feature__card {
    padding: 20px 20px;
  }

  .feature__card-title {
    font-size: var(--h2-font-size);
  }

  .feature__card-desc {
    font-size: var(--h3-font-size);
  }

  .feature__card1 {
    left: 100px;
  }

  .feature__card2 {
    right: 150px;
    top: 40%;
  }

  .feature__card3 {
    left: 100px;
  }

  /* featured section */
  .featured__heading {
    font-size: var(--h2-font-size);
  }

  .featured__card-container {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
    justify-content: center;
  }

  /* logos section */
  .logo__container {
    grid-template-columns: repeat(4, 1fr);
    place-self: center;
  }

  .logo__item {
    justify-content: center;
  }

  /* footer section */
  .footer__content-container {
    display: flex;
    justify-content: space-evenly;
  }

  .copyright {
    margin-top: 3rem;
    margin-bottom: 1rem;
    flex-direction: row;
    column-gap: 1rem;
  }
}

@media only screen and (min-width: 900px) {
  .nav__logo {
    font-size: var(--h3-font-size);
  }

  .nav__logo img {
    width: 50px;
    height: 50px;
  }

  /* home section */
  .big-dot {
    filter: blur(200px);
  }

  .small-dot {
    filter: blur(200px);
  }

  .car-preview {
    padding-top: 10%;
    height: var(100vh + 120px);
  }

  .performance {
    margin-top: 2rem;
    column-gap: 5rem;
  }

  .performance .engine,
  .performance .speed,
  .performance .price {
    row-gap: 0.5rem;
  }

  .performance i {
    font-size: var(--h1-font-size);
    padding: 0.8rem;
    background-color: transparent;
  }

  .button {
    bottom: 0;
  }

  .start-btn {
    width: 80px;
    height: 80px;
    font-size: var(--normal-font-size);
  }

  .start-btn::before {
    width: 100px;
    height: 100px;
  }

  /* about section */
  .about-section {
    align-items: center;
    padding: 1rem;
    padding-top: 150px;
  }

  .about__image {
    max-width: 750px;
  }

  .about__title {
    margin-bottom: 2rem;
  }

  .about__description {
    margin-bottom: 2rem;
  }

  .about__button {
    margin-bottom: 3rem;
  }

  /* popular section */
  .popular {
    justify-content: center;
  }

  .swiper-wrapper {
    display: flex;
  }

  .popular__card {
    max-width: 320px;
    width: max-content;
  }

  /* footer */
  .footer {
    margin-top: 10rem;
  }

  .footer__content-container {
    margin-top: 4rem;
  }

  .footer__big-dot {
    width: 30vw;
    filter: blur(200px);
    top: -5%;
    left: -5%;
  }

  .footer__small-dot {
    width: 20vw;
    filter: blur(200px);
    bottom: -5%;
    right: -5%;
  }
}

@media only screen and (min-width: 1048px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  /* home section */
  .car-preview {
    padding-top: 8%;
    height: 120vh;
  }

  .preview img {
    max-width: 500px;
    height: auto;
    margin-top: 0px;
  }

  .performance {
    column-gap: 5rem;
    transform: scale(0.7);
    margin-top: 0;
  }

  .performance i {
    font-size: var(--h1-font-size);
  }

  .performance .name {
    font-size: var(--h2-font-size);
  }

  .performance .option {
    font-size: var(--h3-font-size);
  }

  .performance .engine,
  .performance .speed,
  .performance .price {
    row-gap: 1rem;
  }

  .big-dot {
    width: 80vw;
    height: 80vw;
    left: -60%;
    top: -30%;
    filter: blur(300px);
  }

  .small-dot {
    width: 60vw;
    filter: blur(300px);
    height: 60vw;
    right: -50%;
    bottom: -20%;
  }

  .button {
    bottom: 0;
  }

  /* features section */
  .features__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
  }

  .features__container .features__image {
    width: 600px;
  }

  .features__card-map {
    width: 600px;
    top: -50px;
  }

  .feature__card1,
  .feature__card3 {
    left: 30%;
  }

  .feature__card2 {
    right: 30%;
  }

  .feature__card3 {
    bottom: 0;
  }

  /* featured-section */
  .featured__section {
    margin-top: 10rem;
  }
}
